# Global Ignores
.vs/
.vscode/
bin/
obj/
dist/
Like2D-Dist/
LikeEdit/

# Specific Build Folder Ignores
# Kita nggak abaikan foldernya, tapi file hasil buildnya aja
build/*.o
build/*.exe
build/*.dll
build/*.so
build/*.a
build/*.rc
build/*.log

# Compiled artifacts
compiled/
*.like

# Logs
build_log.txt

# OS
.DS_Store
Thumbs.db
