# Global Blacklist (Blokir total folder build di mana pun)
**/build/
**/debug/
**/release/
**/bin/
**/obj/
**/dist/

# Private Folders
LikeEdit/

# File types raksasa
*.exe
*.dll
*.so
*.a
*.lib
*.pdb
*.o
*.obj
*.ilk
*.exp

# Asset yang biasanya kegedean (pilih kalau emang males pake LFS)
*.mp4
*.mkv
*.wav
*.psd
*.zip
*.7z

# IDE
.vs/
.vscode/

# Like2D specific
compiled/
*.like
build_log.txt

# OS
.DS_Store
Thumbs.db
